# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Output files
output/
*.mp3
*.wav
*.midi
*.mid

# Environment variables
.env

# Docker
Dockerfile
.dockerignore

# System Files
.DS_Store
Thumbs.db
yue/Models/YuE/yue-s1-7b-anneal-en-cot-q6_k.gguf
